@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-col: white;
  --secondary-col: black;
}

::selection {
  color: #4b6cc1;
  background: transparent;
}

/* Page Transition  */

.page-transition-enter {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 400ms, transform 400ms;
}

.page-transition-exit {
  opacity: 1;
}

.page-transition-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.loading-indicator-appear,
.loading-indicator-enter {
  opacity: 0;
}

.loading-indicator-appear-active,
.loading-indicator-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

body {
  color: #000;
  background: #fff;
  transition: all .5s;
  font-family: 'Manrope', sans-serif !important;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark,
.dark body {
  color: #fff;
  transition: all .5s;
  background: #000;
  font-family: 'Manrope', sans-serif !important;
}

.dark,
.dark :root {
  --primary-col: black;
  --secondary-col: white;

}


/* Custom Locomotive Classes  */

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  /* opacity: 0; */
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4b6cc1;
  width: 7px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

@layer {

  .hidescrollbar {
    overflow: hidden;
  }

  /* Webkit browsers (Chrome, Safari) */
  .hidescrollbar::-webkit-scrollbar {
    width: 0.5em;
    /* Adjust as needed */
  }

  .hidescrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .hidescrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Firefox */
  .hidescrollbar {
    scrollbar-width: none;
  }

  .hidescrollbar::-moz-scrollbar {
    display: none;
  }


  .no-pointer-effects {
    pointer-events: none;
  }

  .switch {
    width: 50px;
    height: 30px;
    padding: 5px;
    display: flex;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ececec8b;
    justify-content: flex-start;
  }

  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }

  .handle {
    width: 20px;
    height: 20px;
    border-radius: 40px;
  }

  .outline-text {
    color: var(--primary-col);
    text-shadow: -1px -1px 0 var(--secondary-col),
      1px -1px 0 var(--secondary-col),
      -1px 1px 0 var(--secondary-col),
      1px 1px 0 var(--secondary-col),
      1px 0px 0 var(--secondary-col),
      -1px 0px 0 var(--secondary-col),
      0px 1px 0 var(--secondary-col),
      0px -1px 0 var(--secondary-col);
    -webkit-font-smoothing: antialiased;
  }


}